.chat-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 180px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

.chat-container-header {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f6fbff;
  /* font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif; */
  font-size: 1em;
  flex-shrink: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: solid #d1dbe3;
  border-width: 0 0 1px;
  padding: 0.6em 0.9em;
}

.chat-header-back {
  box-sizing: border-box;
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  order: 1;
}

.chat-header-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  order: 3;
  flex-grow: 2;
  justify-content: center;
  min-width: 0;
}
.chat-header-nickname {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f6fbff;
}

/* .chat-message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: 600px;
  overflow: hidden;
  min-height: 1.25em;
  position: relative;
  color: rgba(0,0,0,.87);
  background-color: #fff;
}

.chat-message-form-scrollbar {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  overflow-y: auto;
  font-size: .94em;
  line-height: 1.35em;
  min-height: 1.35em;
  max-height: 100%;
  padding: 0;
  scroll-padding: 0;
} */

.chat-message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
}

.cs-message-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 1.25em;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

.cs-message-list__scroll-wrapper {
  height: auto;
}

.scrollbar-container {
  position: relative;
  height: 100%;
  overflow: scroll;
  background-image: url('../images/background3.png');
  background-size: cover;
  background-position: center;
}

.ps {
  overflow: scroll !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.cs-message-list__scroll-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 1.2em 0 0.8em;
}

/* 내가 입력한 글 위치 조정*/
.cs-message-list .cs-message-group.cs-message-group--incoming,
.cs-message-list .cs-message.cs-message--incoming {
  margin-right: auto;
}

.cs-message-list__scroll-wrapper > .cs-message,
.cs-message-list__scroll-wrapper > .cs-message-group {
  max-width: 100%;
}

.cs-message-group--incoming {
  justify-content: flex-end;
}
.cs-message-group--outcoming {
  justify-content: flex-start;
}
.cs-message-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0.4em 0 0;
}

.cs-message-group--incoming .cs-message-group__content {
  order: 1;
}

.cs-message-group__avatar,
.cs-message-group__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.cs-message-group__messages {
  box-sizing: border-box;
}

.cs-message-group__messages .cs-message:first-child {
  margin-top: 0;
}

.cs-message:not(:only-child),
.cs-message:only-child {
  margin: 0.2em 0 0;
}

.cs-message {
  box-sizing: border-box;
  font-size: 1em;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0;
  word-break: break-all;
}

.cs-message__avatar,
.cs-message__content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message:first-child
  .cs-message__content {
  border-radius: 0.7em 0 0 0.7em;
}


.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message
  .cs-message__content {
  border-radius: 0.7em 0 0 0.7em;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c6e3fa;
}

.cs-message-group--outcoming
  .cs-message-group__messages
  .cs-message
  .cs-message__content {
  border-radius: 0 0.7em 0.7em 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f7a2c8;
}

.chat-date-incoming {
  font-size: 0.5rem;
  text-align: end;
}

.chat-date-outcoming {
  font-size: 0.5rem;
  text-align: start;
}

/*----------------input------------------*/

.chat-message-form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid #d1dbe3;
}

.chat-message-form-input {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  flex-grow: 1;
  border-top: 0;
  border: solid #d1dbe3;
  border-width: 1px 0 0;
  margin-top: auto;
  /* padding: 0.3em 0; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  flex-shrink: 0;
}

/* 채팅 입력창 크기 조절*/
.chat-message-form-wrapper {
  width: 330px;
  margin-left: 0.8em;
  box-sizing: border-box;
  position: relative;
  /* background-color: #c6e3fa; */
  margin: 0;
  padding: 0.6em 0.9em;
  border-radius: 0.7em;
  flex-grow: 1;
  display: block;
}

.chat-message-content {
  box-sizing: border-box;
  width: 200px;
  flex-grow: 1;
  /* background-color: #c6e3fa; */
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  outline: 0;
  border: 0;
  overflow: visible;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: anywhere;
  word-break: break-word;
  flex-direction: row;
}

.chat-message-form-button {
  width: 40px;
  margin-left: 8px;
}

/* .message-content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
} */
