.test {
  border: black 1px solid;
}

.imgcenter {
  text-align: center;
}

.size {
  width : 100%
  /* height : 100% */
}

.nickname {
  text-align: left;
  text-align: left;
}

.memorysize {
  color: #00cbff;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff
}

.dialogContentContainer {
  display: flex;
  flex-direction: column;
  align-items:  center;
  max-height: 80vh;     /* 뷰포트 높이의 80%를 최대 높이로 설정 /
  overflow: auto;       / 내용이 넘칠 경우 스크롤바 표시 */
}

.dialogImageContainer {
  width: 100%;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}
.dialogImage {
  max-width: 100%; /* 컨테이너 너비에 맞춤 /
  max-height: 100%; / 뷰포트 높이의 50%를 최대 높이로 설정 /
  object-fit: contain; / 비율 유지하며 컨테이너 안에 맞춤 */
}

.dialogTextContainer {
  width: 100%; /* 텍스트 상단 여백 */
}

/* 버튼 관련*/
.button {
  width: 40vh;
  height: 6vh;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  cursor: pointer;
  margin: 20px;
  text-align:center;
  border: 1px solid white;
  background-size: 300% 100%;

  border-radius: 50px;
  background-color: rgb(255, 253, 211);
  /* moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #fffdc4, #baffe7, #baffe7, #fffdc4);
  box-shadow: 0 4px 0 rgba(115, 115, 115, 0.75); */
 }

.button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:focus {
  outline: none;
} 

/* .button {
  color: black;
  weight: 40vh;
  height:5vh;
  font-weight: bolder;
  background-color: rgb(255, 253, 211);
  border: 2px solid rgb(255, 253, 211);
  border-radius: 10px;
  margin: 2vh 0vh 3vh;
  box-shadow: 0 5px 5px -5px;
} */

/* 메모리 리스트 */
.memoryList {
  margin: 5vh;
}