
/* @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap'); */

/* 눈누 더잠실체 폰트크기 700 */
@font-face {
  font-family: 'TheJamsil5Bold';  
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 눈누 더잠실체 폰트크기 300 */
@font-face {
  font-family: 'TheJamsil2Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}



body {  
  background-color: rgb(18, 1, 104);

}

/* YourComponent.css */
/*  */



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  /* border: solid 1px; color: #000; */
  background-color: rgba(255, 239, 182, 0.88);
  width: 768px;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagebox {
  background-image: url(./flowerschool.png);
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kakaobutton {
  width: 50%;
  height: 20px;
  max-width: 400px;
  padding: 15px 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  background-color: rgb(245, 225, 75);
  color: rgb(55, 31, 31);
  /* font-size: 1.5rem; */
  margin-top: 15%;
}

.kakaoballoon {
  width: 1.25rem;
  position: absolute;
  left: 1rem;
}

.csstitle {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    color: rgba(255, 255, 255);
    /* text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff, 1.5px 1.5px 0 #fff; */
    font-family: 'TheJamsil5Bold';  

    /* letter-spacing: -1px;   */

}
.instatext {
  font-family: 'TheJamsil2Light';

  color: white;
  /* text-shadow: -1.5px -1.5px 0 #050000, 1.5px -1.5px 0 #050000, -1.5px 1.5px 0 #050000, 1.5px 1.5px 0 #050000; */
  margin-top: 5px;
  margin-bottom: 3px;

}

.settingbutton {

}

.loginimage1 {
  width: 30vw;
  height: 50vw;
  transform: rotate(-20deg); /* 왼쪽으로  30도 회전*/
  right: 30px;
}

.loginimage2 {
  width: 30vw;
  height: 50vw;
  transform: rotate(20deg);
  right: 30px;
}

.logo {
  width: 200px;
  height: 170px;
  justify-content: center;
  margin-top: 10%;

}

.textfield {
  border-radius: 20px;
}

/* 미디어 쿼리 */
@media all and (max-width: 769px) {
  .box{
    width: 100%;
  }
  .container {
    
  }

  .kakaobutton {
    /* width: 70%; */
  }

  .csstitle {

  }

  .imagebox {

  }
}